.projects {
  padding: 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  overflow: scroll;
}

.project-card {
  display: grid;
  width: 400px;
  grid-template-rows: 300px 50px;
  text-align: left;
  padding: 10px;
}

.project-card img {
  width: 400px;
}

.project-card a {
  color: black;
  text-decoration: none;
  opacity: 0.5;
}

.project-card a:hover {
  opacity: 1;
}
