* {
  font-family: Helvetica;
}

body {
  margin: 0;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  height: 100vh;
}

#left {
  display: grid;
  grid-template-rows: 2fr 1fr;
  padding: 10px;
}

.menu {
  display: grid;
  grid-template-rows: 1fr 1fr;
}

.head {
  display: flex;
  align-items: flex-end;
}
ul {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
}

li {
  list-style-type: none;
  margin-left: -35px;
}

a {
  text-decoration: none;
  color: black;
  opacity: 1;
}
a:hover {
  opacity: 0.7;
}

#center {
  display: grid;
  grid-template-rows: 1fr;
  padding: 10px;
}

.image {
  background-image: url("trump.jpg");
  background-position: center;
  background-repeat: no-repeat;
  color: white;
}

#right {
  padding: 10px;
  display: grid;
  grid-template-rows: 75px 1fr;
  overflow: scroll;
}

header {
  text-align: right;
  position: -webkit-sticky;
  position: sticky
  top: 0;
}

.thumbnail {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 10px;
}

.thumbnail a {
  display: flex;
  justify-content: center;
}

img {
  max-width: 600px;
  width: 80%;
}

@media (max-width: 500px) {
  body {
    display: flex;
    flex-direction: column;
  }
}
